body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#emulator-container {
    width: 375px;
    height: 667px;
    background-color: #222;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, width 0.3s, height 0.3s;
}

#emulator {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

#screen {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#account-section {
    margin-top: 20px;
    text-align: center;
}

#username {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#saveAccount {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#saveAccount:hover {
    background-color: #45a049;
}
